<section>
  <h1 class="jumbotron">Blog</h1>
  <article>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea facere
      voluptatibus rerum quasi itaque non rem assumenda expedita, minima quo
      velit eaque eos numquam quae! Enim quaerat saepe praesentium delectus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, optio
      consequuntur. Facere nesciunt accusamus placeat molestiae tempore autem
      et, odit reiciendis exercitationem harum ex quibusdam dolore sed dicta
      molestias beatae!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, non
      provident. Nulla unde dolorum eos numquam praesentium inventore quas
      excepturi iure? A sed veritatis cupiditate alias sint fugit? Voluptate,
      officia?
    </p>
  </article>
  <div>
    <a routerLink="/">Go to Home</a>
  </div>
</section>
